// COLOURS

$blue-one : #eafefc; 
$blue-two : #0d457f;
$yellow : #fdd908;
$white : #fff;

// FONTS

html {
    font-size: 125%;

    @media (max-width: 1200px) {
        font-size: 115%;
        
    }

    @media (max-width: 1000px) {
        font-size: 100%;
        
    }
}

$font-one :'IM Fell English', serif;
$font-two :'Roboto', sans-serif;

@mixin font-size($size-value) {
    font-size: $size-value * 1px;
    font-size: ($size-value/20) * 1rem;
  }

// WRAPPERS
  
.wrapper {
    max-width: 1280px; 
    width: 80%;
    margin: 0 auto;

    @media (max-width: 635px) {
        width: 90%;
    }
}

.wrapper-two {
    max-width: 1280px; 
    width: 90%;
    margin: 0 0% 0 10%;
}

.wrapper-three {
    max-width: 1280px; 
    width: 92%;
    margin: 0 auto;
}

// ELEMENTS

h1 {
    @include font-size(79);
    font-family: $font-one;
    text-transform: uppercase;
    text-shadow: 3px 3px 5px black;

    @media (max-width: 880px) {
        @include font-size(50);
    }
    
    @media (max-width: 560px) {
        margin-top: 150px;
        width: 100%;
        @include font-size(45);
    }
}

h2 {
    @include font-size(45);
    font-family: $font-one;
    text-transform: uppercase;
    line-height: 99.8px;
    margin: 0;
    padding: 0;

    @media (max-width: 1350px) {
        line-height: 40px;
        
    }

    @media (max-width: 420px) {
        @include font-size(35);
    }
}

h3 {
    @include font-size(25);
    font-family: $font-one;
    text-transform: uppercase;
    line-height: 58px;
    margin: 0;
    padding: 0;
    color: $yellow;
    letter-spacing: 0.8px;
}

h4 {
    color: $blue-two;
}

p {
    @include font-size(20);
    margin: 0;
    font-family: $font-two;
    letter-spacing: 1px;
    line-height: 28px;
}

a.button {
    font-family: $font-one;
    color: $blue-two;
    @include font-size(22.4);
    text-decoration: none;
    background: $yellow;
    padding: 5px 10px;
    text-transform: uppercase;
}

a.button:hover {
    background: $blue-one;
    color: black;
}

a.button:focus {
    border: 2px solid $yellow;
    background: $white;
    color: black;
}